@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/* Resetando CSS. */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


/* Variáveis Globais. */
:root {
  --main-bg-color: #ffffff;
  --nav-link-color: rgb(173, 98, 27);
  --color-icons: #000;
  --text-shadow: 5px 5px 8px rgb(180, 180, 180);
  --nav-hover-color: #e2932b;
}


/* Configurações do corpo da página. */
body {
  max-width: 950px;
  margin: 20px auto;
  height: 100%;
  transition: all 1s ease-in-out;
}


body.dark {
  background: linear-gradient(to bottom, #02020c, #000);
  color: #fff;
  --color-icons: #fff;
  --text-shadow: 5px 5px 8px rgb(99, 99, 99);
  --nav-link-color: rgb(51, 67, 156);
  --nav-hover-color: rgb(8, 136, 255);
  transition: background 1s ease 0s;
  transition: all 1s ease-in-out;
}


/* Dark Mode config. */
.darkmode-input {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin-top: 30px;
}


.checkbox {
  opacity: 0;
  position: absolute;
}


.label {
  background: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 10px;
  width: 38px;
  transform: scale(1.5);
}


.label .rounded {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 2.3px;
  right: 1px;
  height: 18px;
  width: 18px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
  
}


.checkbox:checked + .label .rounded {
  transform: translateX(24px);
}


.fa-moon, .fa-sun {
  color: var(--nav-link-color);
  transition: all 0.7s ease-in-out;
}


.fa-moon:hover, .fa-sun:hover {
  color: var(--nav-hover-color);
  transition: all 1s ease-in-out;
}
/* Fim do Dark Mode config. */


/* Estilizando barra de scroll da página. */
body::-webkit-scrollbar {
  width: 12px;              
}


body::-webkit-scrollbar-track {
  background: #000000;
}


body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, var(--nav-link-color), var(--nav-hover-color));  
  border-radius: 20px;     
  border: 3px solid var(--main-bg-color);
  backdrop-filter: blur(10px);  
}


main.container {
  width: 100%;
  animation: fadeIn 2s linear;
}


.box-inside {
  width: 90%;
  margin: auto;
}


.img-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
}


img[src="assets/img/reddit2-removebg.png"] {
  width: 30%;
  border-radius: 50%;
  text-shadow: var(--text-shadow);
}


.content-head {
  width: 100%;
  margin: auto;
  text-align: center;
}


#title {
  font-family: Poppins;
  font-size: 49px;
  text-shadow: var(--text-shadow);
}


@keyframes pisca {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}


#title::after{
  content: '|';
  font-size: 49px;
  font-weight: 200;
  margin-left: 5px;
  opacity: 1;
  animation: pisca 2s infinite;
}


#subtitle {
  font-family: Poppins;
  color: #666666;
  font-size: 17px;
}


.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}


.nav-links li {
  display: inline;
}


.nav-links li a {
  padding: 10px;
  text-decoration: none;
  font-family: Poppins;
  color: var(--nav-link-color);
  transition: all 0.7s ease-in-out;
}


.nav-links li a:hover {
  transition: all 0.5s ease-in-out;
  color: var(--nav-hover-color);
  text-decoration: underline;
  font-weight: 500;
}


.divisor {
  width: 10%;
  margin: 40px auto;
}


.content {
  width: 100%;
  margin: auto;
  margin-top: 85px;
}


.titles-main {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
}


.text {
  font-family: Poppins;
  font-size: 17px;
  margin: 30px auto;
}


.text a {
  text-decoration: none;
  color: var(--nav-link-color);
  transition: all 0.7s ease-in-out;
}


.text a:hover {
  transition: all 0.5s ease-in-out;
  color: var(--nav-hover-color);
  text-decoration: underline;
}


li.book {
  margin: 20px auto;
}


#footer-link {
  text-decoration: none;
  color: var(--nav-link-color)
}


#footer-link:hover {
  text-decoration: underline;
  transition: all 0.5s ease-in-out;
  color: var(--nav-hover-color);
}


div.icons-links {
  display: flex;
  justify-content: center;
}


div.github, 
.linkedin, 
.twitter, 
.reddit {
  font-size: 25px;
  padding: 10px;
}


i.fa-github, 
.fa-linkedin, 
.fa-square-twitter, 
.fa-reddit {
  color: var(--color-icons);
  transition: all 0.7s ease-in-out;
}


i.fa-github:hover, 
.fa-linkedin:hover, 
.fa-square-twitter:hover, 
.fa-reddit:hover {
  color: var(--nav-hover-color);
  transform: rotate(-360deg);
  animation: fadeIn 1s linear;
}


div.assign {
  margin: 40px auto;
  font-family: Poppins;
}


div.end footer {
  animation: fadeIn 2s linear;
}


@media (max-width: 800px) {
  .container {
    max-width: 100%;
    text-align: center;
  }

  .box-inside {
    max-width: 100%;
  }


}


@media (max-width: 950px) {
  .container {
    max-width: 100%;
  }

  .box-inside {
    max-width: 100%;
  }

  
}


@media only screen and (min-width: 2560px) {
  body {
    max-width: 1280px;
  }

  .container {
    max-width: 100%;
  }

  .box-inside {
    max-width: 100%;
  }
}


@media only screen and (min-width: 3440px) {
  body {
    max-width: 1500px;
    font-size: 30px;
  }

  .container {
    max-width: 100%;
  }

  .box-inside {
    max-width: 100%;
  }
}


/* Animações da logo. */
@keyframes logoAnimacao {
  from {
      top:-15px;
  }
  to {
      top: 25px;
  }
}


.logo {
  position: relative;
  animation: logoAnimacao 1.6s infinite alternate-reverse linear;
}


.to-top {
  background: var(--nav-link-color);
  position: fixed;
  bottom: 20px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#ffffff;
  text-decoration: none;
  transition: all 0.7s ease-in-out;
}


.to-top:hover {
  background: var(--nav-hover-color);
}

